*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  color: var(--main-fg, #18191a);
}

[data-theme="dark"] body {
  background: linear-gradient(90deg, #18122b 0%, #3b1976 40%, #a78bfa 100%);
}

:root {
  /* --loader-primary: #98EE99;
  --loader-accent: #FF8A80; */
  --loader-primary: #00d4ff;
  --loader-accent: #ee0979;
  --navbar-bg: white;
  --navbar-fg: #232323;
  --navbar-link: #232323;
  --navbar-icon: #232323;
  --main-bg: #fff;
  --main-fg: #18191a;
}


[data-theme="dark"] {
  --loader-primary: #c4b5fd;
  --loader-accent: #fde047;
  --navbar-bg: #18191a;
  --navbar-fg: #f1f1f1;
  --navbar-link: #ffffff;
  --navbar-icon: #fff;
  --main-bg: #18191a;
  --main-fg: #fff;
}


